html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

body:before {
    width: 100%;
    height: 100%;
    content: ' ';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background: #fff;
}

#app {
    background: #ff5f3b;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.u-content {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.u-content_header {
    width: 375px;
}

.u-content_header_img {
    width: 375px;
    height: 184px;
}

.u-content_body {
    position: relative;
    margin-top: -4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.u-content_body_img {
    position: relative;
    width: 345px;
    height: 540px;
    border: 8px solid #303030;
    border-radius: 0 0 8px 8px;
    object-fit: fill;
}

.u-content_body_tips {
    position: absolute;
    bottom: 200px;
    background: #ffb6a7;
    color: #730600;
    font-size: 18px;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 8px;
    margin-top: 160px;
}

.u-content_body_btn {
    position: absolute;
    bottom: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.u-video {
    width: 345px;
    height: 280px;
    border: 8px solid #303030;
    border-radius: 0 0 8px 8px;
    padding: 10px 15px 70px;
    background: #ffffff;
}

.u-content_body_next_btn {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 60px;
}

.u-btn {
    padding: 2px;
    background: #000000;
    border-radius: 18px;
}

.mint-button--default {
    background: #ff5434;
    border-radius: 16px;
    height: 32px;
}

.mint-button-text {
    color: #ffffff;
    font-size: 16px;
}